<!doctype html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="sunflora.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sunflora</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" crossorigin href="/sunflora/assets/index-BZTp849Q.css">
  </head>
  <body ng-app="myApp">
    <header ng-controller="HeaderController" id="header" class="w-full  h-fit fixed  transition-all duration-500 ease-in-out  z-20">
      <div class="w-full relative">
        <div class="nav-wrapper  py-6 px-4 w-full max-w-7xl mx-auto flex items-center justify-between">
          <a href="#!/">
            <img class="w-[80%] " src="/sunflora/images/floralogo.svg" alt="floral logo">
          </a>
          <nav class="primay-navigation hidden lg:flex ">
              <ul class="flex gap-x-10 items-center text-white">
                <li><a href="#!/">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#!/product">Products</a></li>
                <li><a href="#contact-us">Contact</a></li>
              </ul>
          </nav>
          <nav class="user-nav hidden lg:flex">
            <ul class="flex items-center  gap-x-10 text-white ">
              <li class="relative">
                <button ng-click="handleLike()" href="#"><img src="/sunflora/images/cart.svg" alt=""></button>
                <span class="absolute -top-4 -right-3  text-xs">{{likeCount.length}}</span>
              </li>
              <!-- <li class="relative">
                <a href="#"><img src="" alt=""></a>
                <span class="absolute -top-4 -right-3 text-xs">1</span>
              </li> -->
              <li><a href="#!/login">Login</a></li>
            </ul>
          </nav>
          <button class="flex lg:hidden ">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" class="w-6 h-6">
              <line x1="4" y1="6" x2="20" y2="6" stroke-linecap="round" />
              <line x1="4" y1="12" x2="20" y2="12" stroke-linecap="round" />
              <line x1="4" y1="18" x2="20" y2="18" stroke-linecap="round" />
            </svg>
          </button>
        </div>
        <div id="likebtn" class="absolute  hidden top-16 right-52  rounded-sm  ">
          <button ng-repeat="plant in likeCount" class="flex w-48 transition-all ease-in-out duration-500 hover:bg-green-200 rounded-sm bg-white border gap-x-6 px-4 ">
            <div class="w-14 aspect-square">
              <img class="w-full h-full object-cover" ng-src={{plant.url}} alt="">
            </div>
            <div class=" text-clr_accent_500">
              <p class="text-sm">{{plant.name}}</p>
              <p>₹{{plant.price}}</p>
            </div>
          </button>
        </div>
      </div>
    </header>
    <div ng-view ></div>
    <footer class="mt-28 bg-clr_accent_900  rounded-t-[6rem]">
      <div class=" max-w-7xl mx-auto px-4 w-full py-12 text-white ">
        <div class=" flex flex-col gap-y-6 sm:grid sm:grid-cols-3 ">
          <div id="desc" class="lg:max-w-[16rem] w-full">
            <p class="opacity-75 text-base font-thin">lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
          </div>
          <div id="footer-logo" class="mx-auto order-first sm:order-none">
            <svg class="h-[40px]"  >
              <use xlink:href="/sunflora/images/florallogo1.svg#florallogo"></use>
            </svg>
          </div>
          <div id="footer-newslater" class="text-base lg:ml-auto">
            <p class="hidden sm:block">Newsletter</p>
            <div class="sm:w-fit mt-4">
              <p class="text-sm">Subscribe to our Newsletter</p>
              <div class="flex border  p-1 rounded-lg mt-3">
                <input class="outline-none  w-full text-base bg-transparent text-white placeholder-white" placeholder="Email" type="email" name="" id="">
                <button class="bg-clr_accent_500 text-white px-4 py-1 rounded-md">Subscribe</button>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-10  lg:block">
          <nav class="footer-navigation hidden lg:block w-full">
            <ul class="flex justify-center divide-clr_accent_800 divide-x-[1px]">
              <li class="px-4" ><a href="#">Home</a></li>
              <li class="px-4" ><a href="#">Contact</a></li>
              <li class="px-4" ><a href="#">About</a></li>
              <li class="px-4" ><a href="#">Service</a></li>
              <li class="px-4" ><a href="#">Product</a></li>
              <li class="px-4" ><a href="#">FAQ</a></li>
            </ul>
          </nav>
          <div class="mt-10">
            <hr class="w-3/4 mx-auto bg-clr_accent_800 h-[1px] border-none">
            <p class="text-base mt-4 font-light opacity-75 text-center">
              Copyright &copy; 2024 | Sunflora
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="scripts/angular.js"></script>
  </body>
</html>
